/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

/* Image Styles */
img {
    display: block;
    max-width: 100%;
    height: 300px;
    margin: 20px auto; /* Center the images */
    border-radius: 12px;
}

/* Paragraph Styles */
p {
    text-align: center;
    margin: 10px 20px;
    font-size: 1.2rem; /* Slightly larger font for better readability */
}

/* Navigation Styles */
nav {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: grey; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    margin: 0 10px; /* Space between buttons */
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgrey; /* Darker blue on hover */
}
